h1{
    color: white;
    text-align: center;
    font-size: 500%;
    font-family: fantasy;
}
p{
    color: white;
    text-align: center;
    font-size: auto;
    font-family: fantasy;
}

body {background-color: rgb(2, 0, 24);
} 
  img {
    width: 35%;
    position: absolute;
    display: flex;
    right: 80%;
    transform: rotate(45deg);
    top: 20%;
  }
  p {
    font-size: 1rem;
    font-family: sans-serif;
    margin: 20px;
}